
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Raleway:wght@700;800&display=swap');

*{box-sizing: border-box;}

:root{
    /* Varia para a paletas de cor pára o site  */
    --cor-titulo:#4d4d4d;
    --cor-texto:#333;
    --cor-clara:#fff;
    --cor-escura:#000;
    --cor-intermediaria:#ececec;
}
html{ font-size: 16px;}


body{
    color: var(--cor-texto);
    font-family: "Noto Sans",sans-serif;
    background-color: var(--cor-clara);
}

/* CSS Resert, em alguns alementos*/
body,h1,h2,p, figure,.menu{
    margin: 0;
    padding: 0;
}
img{max-width: 100%;}
h1{
    font-family: Ralewey,sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.5rem;
}
h1 a {
    color: var(--cor-clara);
    background-color: var(--cor-escura);
    padding: 0.3rem 1rem;
    border-radius: 4px;
}
a{text-decoration: none;}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/*Formatação da palavra Menu */
nav h2 a{
    color: var(--cor-escura);
    font-size: 1.2rem;
    padding: 1rem;
    display: inline-block;
}
nav h2 a:hover,nav h2 a:focus, .menu a:hover, .menu a:focus{
    background-color: var(--cor-intermediaria);
}

.menu{ 
    list-style: none;

    /*ATENÇÃO
    Usamos display:none para 
    não exibir inicialmente a lista de links. */
    display: none;
}

/* Regra ´para formatar os links contidos lista/menu*/
.menu a {
    color: var(--cor-escura); 
    font-weight:bold;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 50px;

   
}

/* Seletor de classes combinadas estas regras somente irão funcionar quando as DUAS CLASSE estiverem aplicada JUNTAS no elemento HTML(no caso, lista de menu/lins).


OBS.:esta combinação sera possivel por meio 
da manipulação progrmada com JavaScript.*/
.menu.aberto {

    /*O Flex fará a lista de links aparecer  */
    display: flex;

    /*com os links em formato de coluna(vertical) */
    flex-direction: column;


    /* Usamos as propriedades de posicionamento e coordenadas pára garantir o encaixe correto 
    (abaixo do titulo e da palavra Menu).)*/
    position: absolute;
    left: 0;
    right: 0;

    /* Aplicamos um fundo a lista evitando a dficuldade de leitura dos links*/
    background-color: var(--cor-clara);
}


/* Estilizando a seção de Destaque */





/* Estilizando a seção de Destaque */
.destaque  {
    height: 500px; 
    background-image: url(../imagens/fundo-destaque.jpg);
    background-attachment: fixed;
    background-size: cover; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}

.destaque h2{
    color: var(--cor-clara);

}
.destaque p{
    color: var(--cor-clara);
}